max midwith means what is applied is smaller than number placed 
min width means larger than number placed





body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);   
}

.background {
    height: 75%;
    width: 50%;
    position: fixed;
    background-image: url("../gifs/front_face_3");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 10%;
}
@media only screen and (max-width: 770px) {
    .background {
      width: 100%; 
      height: 50%;
      z-index: 10;
      left: 0;  
      top: 0;  
      background-color: white;
     }
 }

.fa-code {
    position: relative;
    left: 280px;
    color: red;
    top: 18px;
}

#secondicon {
    left: 540px;
}

.fa-envelope {
    position: relative;
    top: 10px;
    left: 140px;
    color: rgb(0, 0, 0);
}

.fa-linkedin {
    position: relative;
    top: 10px;
    left: 5px;
    color: rgb(5, 59, 219);
}

.fa-github {
    position: relative;
    top: 10px;
    left: 20px;
    color: purple;
}

#space {
    position: absolute;
    height: 500px;
    background-color: red;
}

#firstarrow {
    position: static;
    padding-left: 300px;
    padding-top: 50px;
    width:  auto;
    color: rgb(255, 213, 0);
    z-index: 9;
}
    @media only screen and (max-width: 1070px) {
   #firstarrow {
        padding-top: 400px;
    }
}

#seconarrow {
    position: static;
    padding-left: 80px;
    padding-top: 350px;
    width: auto;
    color: rgb(255, 213, 0);
    z-index: 8;
}

@media only screen and (max-width: 1070px) {
    #seconarrow {
         padding-top: 1px;
     }
 }
 

#Title2 {
    position: absolute;
    color: white;
    top: 500px;
    font-size: 40px;
}

#subtitle1 {
    position: absolute;
    color: white;
    top: 490px;
    font-size: 20px;
}

#subtitle2 {
    position: absolute;
    color:rgb(255, 213, 0);
    left: 25px;
    top: 570px;
    font-size: 20px;
}

@media only screen and (max-width: 1070px) {
    #subtitle2 {
         padding-top: 50px;
     }
 }

#thirdparagraph {
    position: absolute;
    color: white;
    left: 25px;
    top: 590px;
    font-size: 20px;
}

@media only screen and (max-width: 1070px) {
    #thirdparagraph {
         padding-top: 50px;
     }
 }

#subtitle3 {
    position: absolute;
    color: rgb(255, 213, 0);
    left: 25px;
    top: 720px;
    font-size: 20px;
}

@media only screen and (max-width: 1070px) {
    #subtitle3 {
         padding-top: 50px;
     }
 }

#subtitle4 {
    position: absolute;
    color: rgb(255, 213, 0);
    left: 400px;
    top: 720px;
    font-size: 20px;
}

@media only screen and (max-width: 1070px) {
    #subtitle4 {
         padding-top: 50px;
         left: 370px;
     }
 }

#bullet1 {
    position: static;
    color: white;
    padding-right: 150px;
    padding-top: 202px;
    z-index: 12;
    width: auto;
}

#check1 {
    position: static;
    padding-left: 402px;
    padding-top: 760px;
    width:  auto;
    color: white;
    z-index: 9;
}

@media only screen and (max-width: 1070px) {
    #check1 {
         padding-top: 810px;
     }
 }

#check2 {
    position: static;
    padding-left: 402px;
    padding-top: -20px;
    width:  auto;
    color: white;
    z-index: 10;
}
#problem1 {
    position: absolute;
    color: white; 
    left: 25px;
    top: 720px;
    font-size: 20px;
}
@media only screen and (max-width: 1070px) {
    #problem1 {
         padding-top: 80px;
     }
 }

#notcustomize {
    position: absolute;
    color: white;
    left: 25px;
    top: 760px;
    font-size: 20px;
}
@media only screen and (max-width: 1070px) {
    #notcustomize {
         padding-top: 50px;
     }
 }

#notresponsive {
    position: absolute;
    color: white;
    left: 25px;
    top: 740px;
    font-size: 20px;
}
@media only screen and (max-width: 1070px) {
    #notresponsive {
         padding-top: 50px;
     }
 }

#crowded {
    position: absolute;
    color: white;
    left: 25px;
    top: 780px;
    font-size: 20px;
}
@media only screen and (max-width: 1070px) {
    #crowded {
         padding-top: 50px;
     }
 }

#cutoffimages {
    position: absolute;
    color: white;
    left: 25px;
    top: 800px;
    font-size: 20px;
}
@media only screen and (max-width: 1070px) {
    #cutoffimages {
         padding-top: 50px;
     }
 }

#storefront {
    position: absolute;
    color: white;
    left: 25px;
    top: 820px;
    font-size: 20px;
}
@media only screen and (max-width: 1070px) {
    #storefront {
         padding-top: 50px;
     }
 }


#instructions_1 {
    position: absolute;
    color: white;
    left: 200px;
    top: 900px;
    font-size: 13px;
}
@media only screen and (max-width: 1070px) {
    #instructions_1 {
         padding-top: 20px;
         right: 10px;
     }
 }

 @media only screen and (max-width: 770px) {
    #instructions_1 {
       padding-top: 60px;
       left: 80px;
     }
 }

#email {
    left: 190px;
    top: 5px;
    font-size: large;
}

.backgroundScroll {
    position: absolute;
    margin: 200px 0 0;
    right: 0;
    height: 700px;
    width: 50%;
    z-index: 4;
}

@media only screen and (max-width: 1070px) {
    .backgroundScroll {
     

     }
 }

 @media only screen and (max-width: 770px) {
    .backgroundScroll {
      width: 100%;
      top: 350px;
     
     }
 }

.backgroundScroll2 {
    position: absolute;
    margin: 250px 0 0;
    background-color: black;
    right: 0;
    top: -200px;
    padding-top: 600px;
    height: 2200px;
    width: 50%;
    z-index: 3;
}

 @media only screen and (max-width: 1070px) {
    .backgroundScroll2 {
     
     
     }
 }

 @media only screen and (max-width: 770px) {
    .backgroundScroll2 {
      width: 100%;
      top: 200px;     
     }
 }

.container3 {
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    left: 10%;
    right: 10%;
    top: 10%;
    width: 80%;
    z-index: 3;
}

@media only screen and (max-width: 770px) {
    .container3 {
     }
 }


.container4 {
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    left: 10%;
    right: 10%;
    top: 10%;
    width: 80%;
    z-index: 3;
}

#arrow2 {
    position: absolute;
    right: 0;
    width: 100%;
}

.topbar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: white;
    z-index: 7;
}

@media only screen and (max-width: 770px) {
    .topbar {
         padding-top: 0px;
         top: 0;
         z-index: 13;
     }
 }

.bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 5;
}

@media only screen and (max-width: 770px) {
    .bottombar {
         left: 0;
     }
 }

#name {
    font-family: monospace;    
    position: absolute;
    left: 25px;
    top: -20px;
    font-size: 30px;
    color: black;
}

#profession {
    position: absolute;
    top: -30;
}

h1, #Title {
    font-family: monospace;
    position: absolute;
    left: 25px;
    top: -180px;
    font-size: 50px;
    color: white;
}

p {
    position: absolute;
    color: white;
    left: 25px;
    top: -80px;
    font-size: 20px;
    font-family: monospace;
}

@media only screen and (max-width: 1070px) {
    p {
      font-size: 18px;
     }
 }

 @media only screen and (max-width: 770px) {
    p {
      font-size: 20px;
     }
 }

h2 {
    font-family: monospace;
    position: absolute;
    left: 320px;
    top: -3px;
}

#secondparagraph{
    position: absolute;
    color: white;
    left: 25px;
    top: 200px;
    font-size: 20px;
}

@media only screen and (max-width: 1070px) {
    #secondparagraph {
      top: 250px;
      font-size: 18px;
     }
 }

.container {
    position: absolute;
    top: 1300px;
    left: 60%;
    border: white 10px;
    border-style: dashed;
    width: 10%;
    height: 25px;
    z-index: 5;
}

@media only screen and (max-width: 1070px) {
    .container {
      left: ;
     
     }
 }

 @media only screen and (max-width: 770px) {
    .container {
        top: 1750px;
        left: 200px;
     }
 }

.container2 {
    position: absolute;
    top: 1300px;
    left: 75%;
    border: rgb(255, 107, 215) 10px;
    border-style: dashed;
    width: 10%;
    height: 25px;
    z-index: 5;
}

@media only screen and (max-width: 1070px) {
    .container2 {
      left: %;
     
     }
 }

 @media only screen and (max-width: 770px) {
    .container2 {
        top: 1750px;
        left: 300px;
     }
 }

#imageBox {
    position: absolute;
    width: 200px;
    right: 380px;
}
@media only screen and (max-width: 1070px) {
    #imageBox {
      position: absolute;
      width: 50px;
      right: 100px;
      padding-left: 100px;
     }
 }

#leahSalon {
    position: relative;
    top: 1400px;
    right: 60px;
    height: 600px;
    width: 10%;
    padding-right: 480px;
    background-image: url(../images/new_salon.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    opacity: 0;
}

@media only screen and (max-width: 1070px) {
    #leahSalon {
        position: relative;
         padding-top: 50px;
         width: 5%;
         right: 40px;
     }
 }

 @media only screen and (max-width: 770px) {
    #leahSalon {
      top: 1600px;
      right: 370px;
      width: 10px;
     }
 }

#oldSalon {
    position: relative;
    top: 800px;
    right: 60px;
    height: 600px;
    width: 10%;
    padding-right: 480px;
    background-image: url(../images/old_salon.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 6;
    opacity: 0;
}

@media only screen and (max-width: 1070px) {
    #oldSalon {
         padding-top: 50px;
         width: 5%;
     }
 }

 @media only screen and (max-width: 770px) {
    #oldSalon {
      top: 1200px;
      right: 370px;
     }
 }

#dottedbox {
    position: absolute;
    top: 1050px;
    right: 80px;
    height: 600px;
    width: 75%;
    border: dashed;
    color: rgb(255, 213, 0);    
    z-index: 6;
}

@media only screen and (max-width: 770px) {
    #dottedbox {
        top: 1100px;
     }
 }

#Project_1 {
    position: absolute;
    bottom: 25px
}

#Project_1 :hover {
    background-image: url(../gifs/left_face.gif);
}

#Project_2 {
    position: absolute;
    bottom: 25px;
}

#img1 {
    position: absolute;
    width: 50%;
    padding: 100px;

}

#img2 {
    position: absolute;
    width: 50%;
    padding: 100px;

}

input {
    outline: none;
}
